
    h1 {
        color: rgb(241, 233, 239);
        background-color: rgb(238, 248, 245);
    }
     p {
        color: rgb(3, 32, 23);
        background-color: rgb(246, 247, 239);
    }
body{background-color: beige;}