
    h1 {
        color: rgb(228, 155, 15);
    }
     p {
        color: rgb(110, 38, 14);
    }
body{background-color: rgb(245, 245, 245);}
.hello{
    position:absolute;
    height:auto;
    left:0px;
    width:100px;
}

nav{
    color:rgb(228, 155, 15);

}

span{
    color: rgb(128, 0, 0);
}
button{
    color: rgb(128, 128, 0);
}
svg{
    color: rgb(128, 128, 0);
}
path{
    color: rgb(128, 128, 0);
}
circle{
    color: rgb(128, 128, 0);
}